.flex {
  display: flex;
  &-items-center {
    align-items: center;
  }
  &-justify-center {
    justify-content: center;
  }
  &-col {
    flex-direction: column;
  }
}

//text sizes
.text {
  line-height: 1.2;
  &-lead {
    font-size: 1.2rem;
  }
  &-large {
    font-size: 2rem;
  }
  &-xl {
    font-size: 3rem;
  }
}

.primary-color {
  color: $primary-color;
}
.success-color {
  color: $success-color;
}
.danger-color {
  color: $danger-color;
}

.border {
  border: 1px solid $gray-color;
  border-radius: 5px;
}

.bold {
  font-weight: bold;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: $gray-color;
  margin: 1.5rem 0;
}

//Backgrounds
.bg {
  &-primary {
    @include set-background($primary-color);
  }
  &-light {
    @include set-background($light-color);
    border: $gray-color 1px solid;
  }
  &-dark {
    @include set-background($dark-color);
  }
  &-success {
    @include set-background($success-color);
  }
  &-danger {
    @include set-background($danger-color);
  }
}

//buttons
.btn {
  // display: inline-block;
  background: $light-color;
  color: $dark-color;
  padding: 0.4rem 1.3rem;
  border: none;
  font-size: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in;

  &.btn-primary {
    @include set-background($primary-color);
    &:hover {
      background: lighten($primary-color, 5%);
    }
  }
  &.btn-dark {
    @include set-background($dark-color);
    &:hover {
      background: lighten($dark-color, 5%);
    }
  }
  &.btn-success {
    @include set-background($success-color);
    &:hover {
      background: lighten($success-color, 5%);
    }
  }
  &.btn-danger {
    @include set-background($danger-color);
    &:hover {
      background: lighten($danger-color, 5%);
    }
  }
  &:hover {
    background: lighten($dark-color, 20%);
    color: $light-color;
  }
}
.custom-radio-button {
  display: flex;
  align-items: center;
  gap: 8px;
}
// alerts
.alert {
  padding: 0.8rem;
  margin: 1rem;
  opacity: 0.9;
  background: $light-color;
  color: $dark-color;

  &.alert-primary {
    @include set-background($primary-color);
  }
  &.alert-dark {
    @include set-background($dark-color);
  }
  &.alert-success {
    @include set-background($success-color);
  }
  &.alert-danger {
    @include set-background($danger-color);
  }
}

// badges
.badge {
  // font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: $light-color;
  color: $dark-color;

  &.badge-primary {
    @include set-background($primary-color);
  }
  &.badge-dark {
    @include set-background($dark-color);
  }
  &.badge-success {
    @include set-background($success-color);
  }
  &.badge-danger {
    @include set-background($danger-color);
  }
}

.container {
  max-width: $max-width;
  margin: 3rem auto;
  overflow: hidden;
  &-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
}

.form {
  &-group {
    margin: 0.5rem 0;
    div {
      font-size: 14px;
      display: block;
    }
  }
  label {
    color: $primary-color;
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  input[type="number"],
  select,
  textarea {
    outline: none;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid $gray-color;
    border-radius: 5px;
  }
  input[type="submit"] {
    font: inherit;
  }
}
