//SET TEXT COLOR BASED ON BACKGROUND
@function set-text-color($color) {
  @if (lightness($color) > 60) {
    @return $dark-color;
  } @else {
    @return $light-color;
  }
}

$spaceAmounts: (1, 2, 3, 4, 5);

@each $space in $spaceAmounts {
  $margin: #{$space}rem;
  $padding: #{$space}rem;

  .m-#{$space} {
    margin: $margin;
  }
  .my-#{$space} {
    margin: $margin 0;
  }
  .mt-#{$space} {
    margin-top: $margin;
  }
  .mb-#{$space} {
    margin-bottom: $margin;
  }
  .mx-#{$space} {
    margin: 0 $margin;
  }

  .p-#{$space} {
    padding: $padding;
  }
  .py-#{$space} {
    padding: $padding 0;
  }
  .pt-#{$space} {
    padding-top: $padding;
  }
  .pb-#{$space} {
    padding-bottom: $padding;
  }
  .px-#{$space} {
    padding: 0 $padding;
  }
}

//SET BACKGROUND & TEXT COLOR
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

//Responsive
@mixin mediaSm {
  @media screen and (max-width: 799px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (min-width: 800px) and (max-width: 979px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 980px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
