.balance {
  &-container {
    display: flex;
    margin: auto;
    width: 90%;
    max-width: 25rem;
  }
  &-incomes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 2rem;
  }
}

.historical {
  &-container {
    padding: 0 2rem;
    width: 100%;
  }
}
